<div class="row">
    <div class="col col-sm-10 col-md-8">
        <ul class="nav nav-tabs">
            <li class="nav-item"><nav><a class="nav-link" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></nav></li>
            <li class="nav-item"><nav><a class="nav-link" [routerLink]="['/servers']" routerLinkActive="active">Servers</a></nav></li>
            <li class="nav-item"><nav><a class="nav-link" [routerLink]="['/users']" routerLinkActive="active">Users</a></nav></li>
        </ul>
    </div>
</div>